html, body{
  margin:0;
  padding:0;
  font-size: 14px;
}

#content h3, #content h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

a {
  color:white;
}

#sidebar {
  z-index: 99;
  position: fixed;
  width: 345px;
  height: 100%;
  top: 0;
  bottom: 0;
  left:-300px;
  transition: left 0.3s;
  -webkit-transition: left 0.3s; /* Safari */
  color: #fff;
  background: #424F63;
  overflow: auto;
}
  #sidebar:hover {
    left: 0;
  }

#sidebar .list-group {
  width: 100%;
  padding: 0;  
}

#sidebar h4, #sidebar h3, #sidebar .list-group-item, #sidebar .sidebar-avatar {
  padding: 10px 15px;
}

#sidebar h4, #sidebar h3 {
  width: 100%;
  margin: 10px 0;
}

#sidebar h4 {
  color: #65cea7;
}

#sidebar .list-group-item {
  border-radius: 0;
  background: transparent;
  border: none;
  transition: background 0.3s, color 0.3s;
}
  #sidebar a.list-group-item:hover {
    background: rgba(0, 0, 0, 0.2);
  }

.block {
  max-width: 100px;
  overflow-y: auto;
}

.class-description {
  height: auto;
}

.list-group {
  margin-right: 10px;
}

a.list-group-item {
  color:white;
  padding: 3px;
  background: #424F63;
  border: none;
  border-radius: 5px;
}

  a.list-group-item:hover {
    color:white;
    background: #687FA1;
  }

  a.list-group-item img {
    width: 25px;
    height: 25px;
  }

  a.list-group-item .glyphicon {
    padding-top: 5px;
  }

.sidebar-avatar img {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  vertical-align: middle;
}

.chat-description {
  list-style-type: none;
  margin: 0;
  padding: 0 10px 0 0;
}

  .chat-description li{
    width: 100%;
    padding-bottom: 5px;
    display: inline-block;
  }

.chat-student {
  line-height: 30px;
  margin-left: 10px;
}

#content {
   background: #687FA1;
   height: 100%;
   width: 96.5%;
   margin-left: 45px;
   position: absolute;
}